body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #E0E0E0;
    background-color: #121212;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero {
    position: relative;
    background-image: url('college.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;
    padding: 0 20px;
}

.hero-content {
    z-index: 2;
}

.hero h1 {
    font-size: 4rem;
    margin: 0;
    color: #FFD700;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards 0.5s;
}

.hero p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 1s;
}

.btn {
    padding: 10px 20px;
    border: 2px solid #FFD700;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFD700;
    background: transparent;
    transition: background 0.3s, color 0.3s;
    border-radius: 10px; /* Rounded edges */
}

.btn:hover {
    background: #FFD700;
    color: #121212;
}

.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0D0D0D;
    color: #E0E0E0;
    z-index: 3;
    box-sizing: border-box;
    top: 0;
    transition: transform 0.3s ease;
}

.nav.hidden {
    transform: translateY(-100%);
}

.nav .menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #E0E0E0;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    color: #FFD700;
}

.logo-img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    vertical-align: middle;
    margin-right: 10px; /* Space between logo and text */
}

.info-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #1E1E1E;
}

.info-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #E0E0E0;
    background: #1E1E1E;
    gap: 40px;
    height: 50vh;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.info-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-image img {
    width: 100%;
    max-width: 500px;
    max-height: 300px;
    border-radius: 10px; /* Rounded edges for images */
}

.info-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-content p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.footer {
    background-color: #121212;
    color: #E0E0E0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.footer-section {
    margin: 20px;
    flex: 1;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.5rem;
    color: #FFD700;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-btn {
    padding: 10px 20px;
    border: 2px solid #FFD700;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFD700;
    background: transparent;
    transition: background 0.3s, color 0.3s;
    border-radius: 10px; /* Rounded edges */
}

.footer-btn:hover {
    background: #FFD700;
    color: #121212;
}

.association img {
    width: 100px;
    margin-top: 20px;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #888;
}

.footer-copyright a {
    color: #FFD700;
    text-decoration: none;
}

.about-hero {
    background-color: #121212;
    color: #FFD700;
    padding: 50px 20px;
    text-align: center;
}

.about-hero h1 {
    padding-top: 30px;
    font-size: 4rem;
    margin: 0;
}

.team-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: #1E1E1E;
    gap: 80px;
}

.team-member {
    margin: 10px;
    text-align: center;
    color: #E0E0E0;
    max-width: 300px;
    flex: 1 1 300px;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.team-member img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.team-member h3 {
    font-size: 3rem;
    margin: 10px 0 5px;
    color: #FFD700;
}

.team-member p {
    font-size: 1rem;
    margin: 0;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.contact-hero {
    background-color: #121212;
    color: #FFD700;
    margin-top: 4%;
    padding: 10px 20px;
    text-align: center;
}

.contact-hero h1 {
    font-size: 4rem;
    margin: 0;
}

.contact-form-section {
    padding: 40px 20px;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    background: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

form label {
    font-size: 1.2rem;
    color: #FFD700;
}

form input, form textarea {
    padding: 10px;
    border: 2px solid #FFD700;
    background: transparent;
    color: #E0E0E0;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    padding: 10px;
    border: none;
    background: #FFD700;
    color: #121212;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

form button:hover {
    background: #E0E0E0;
    color: #121212;
}

.college-hero {
    background-color: #121212;
    color: #FFD700;
    padding: 57px 20px;
    margin-top: 20px;
    text-align: center;
}

.college-hero h1 {
    font-size: 4rem;
    margin: 0;
}

.logos-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: #1E1E1E;
    gap: 80px;
}

.logo-box {
    background-color: #2E2E2E;
    padding: 20px;
    opacity: 0;
    border-radius: 10px;
    text-align: center;
    color: #E0E0E0;
    max-width: 300px;
    flex: 1 1 300px;
    transition: transform 0.3s ease-in-out;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.logo-box:hover {
    transform: scale(1.1);
}

.logo-box img {
    width: 100%;
    border-radius: 10%;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.logo-box h3 {
    font-size: 2rem;
    margin: 10px 0 5px;
    color: #FFD700;
}

.logo-box p {
    font-size: 1rem;
    margin: 0;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.logo-box:nth-child(1) {
    animation-delay: 0.5s;
}

.logo-box:nth-child(2) {
    animation-delay: 1s;
}

.logo-box:nth-child(3) {
    animation-delay: 1.5s;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Intro animations with delays */
.animate-fade-slide {
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.team-member {
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.team-member:nth-child(1) {
    animation-delay: 0.5s;
}

.team-member:nth-child(2) {
    animation-delay: 1s;
}

.team-member:nth-child(3) {
    animation-delay: 1.5s;
}

.footer-section.company-info {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

.footer-section.services:nth-child(2) {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

.footer-section.services:nth-child(3) {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1.5s;
}

.footer-section.services:nth-child(4) {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 2s;
}

.footer-section.about {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 2.5s;
}

.thank-you-message {
    text-align: center;
    padding: 50px 20px;
    color: #FFD700;
}

.contact-form-section p a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

.contact-form-section p a:hover {
    text-decoration: underline;
}

.manual p {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.manual p a {
    
    color:#FFD700;
    text-decoration: none;
}
.manual p a:hover {
    
    text-decoration: underline;
}




/* For larger screens */
@media screen and (min-width: 2880px) {
    .hero h1 {
        font-size: 5rem;
    }
    .hero p {
        font-size: 1.5rem;
    }
    .btn {
        padding: 15px 30px;
    }
}

/* Media Queries for 3:2 Aspect Ratio */
@media screen and (max-aspect-ratio: 3/2) {
    .hero h1 {
        font-size: 3rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .btn {
        padding: 8px 16px;
    }
}

/* Media Queries for 16:9 Aspect Ratio */
@media screen and (min-aspect-ratio: 16/9) {
    .hero h1 {
        font-size: 4.5rem;
    }
    .hero p {
        font-size: 1.5rem;
    }
    .btn {
        padding: 12px 24px;
    }
}
